<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licious Fantasy給你幻想的美味</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bellota|Noto+Sans+TC|Noto+Serif+TC|Oswald&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./pic/BEWD_icon.png">
    <link rel="bookmark" href="./pic/BEWD_icon.png">
    <link rel="stylesheet" href="./css/hd_ft.css">
    <link rel="stylesheet" href="./css/sign.css">
    <link rel="stylesheet" href="./css/chat.css">
    <link rel="stylesheet" href="./css/menber.css">
</head>
<body>
    <!-- inject header -->
    <div class="headerpage"></div>
    <!-- inject header -->
    <!-- 購物車 -->
    <div class="shoopingCart"></div>
    <!-- 購物車 -->
    <!-- 登入 -->
    <div class="SigninSignup"></div>
    <!-- 登入 -->
    <!-- 聊天室 -->
    <div class="ChatBox"></div>
    <!-- 聊天室 -->


    <div class="main_box">
        <div class="top_box">
            <div class="top_bgc">
                <img src="./pic/menber/m1.jpeg" alt="">
            </div>
            <div class="top_content">
                <div class="personal_info">
                    <div class="personal_img">
                        <img src="./pic/rcc_author3.jpg" alt="">
                        <div class="pic_bgc">更換</div>
                    </div>
                    <h2>小方塊</h2>
                    <div class="set_btn" id="set_btn">
                        <img src="./pic/settings_icon.svg" alt="">
                        <span>編輯</span>
                    </div>
                </div>
                <div class="pags">
                    <div class="span_top change_color" data-change="0">
                        <span>食譜</span>
                        <div class="line"></div>
                    </div>
                    <div class="span_top" data-change="1">
                        <span>收藏</span>
                        <div class="line"></div>
                    </div>
                    <div class="span_top" data-change="0">
                        <span>粉絲</span>
                        <div class="line"></div>
                    </div>
                    <div class="span_top" data-change="2">
                        <span>訂單</span>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_box">
            <div class="left_box">
                <div class="box1 box_none" id="box1">
                    <img src="./pic/menber/m2.svg" alt="">
                    <div class="recipe_push">
                        <h2>你也有私房料理嗎？</h2>
                        <span>分享食譜就是分享幸福給更多人</span>
                        <span>寫下你獨一無二的美味配方</span>
                        <div class="recipe_btn" id="recipe_btnX">來去寫食譜</div>
                    </div>
                </div>
                <div class="box2 box_none" id="box2">
                    <div class="card">
                        <div class="img">
                            <img src="./pic/rw1.jpg" alt="">
                        </div>
                        <div class="card_box">
                            <h2>超級無敵海景佛跳牆</h2>
                            <p>by唐牛</p>
                            <span>好！好！好！此盅是由內功燉成的佛跳牆，不但火侯十足，而且濃而不膩，膠而不黏，九種材料均為極品，足足有九九八十一種變化，不但香味層次不同，而且可以渾然一體，不愧為超級無敵海景佛跳牆！</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="./pic/rw2.jpg" alt="">
                        </div>
                        <div class="card_box">
                            <h2>撒尿牛丸</h2>
                            <p>by雞姐</p>
                            <span>這個問題問我有失公平，我們來問吃完的客人 智障：我吃了之後考試都考一百分呢 火雞：我吃了之後更美了呢 瘦猴：我吃完後明顯變高了也變壯了</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="./pic/rw7.jpg" alt="">
                        </div>
                        <div class="card_box">
                            <h2>昇龍餃子</h2>
                            <p>by劉昂星</p>
                            <span>利用兩種不同材質的餃子皮加熱膨脹度不同原理，使餃子形成立體感，但其實是唬爛的ㄏ</span>
                        </div>
                    </div>
                </div>
                <div class="box1 box_none" id="box3">
                    <img src="./pic/menber/m2.svg" alt="">
                    <div class="recipe_push">
                        <h2>你還沒有任何訂單紀錄喔？</h2>
                        <span>各式優惠任您挑選</span>
                        <span>好廚師也需要好工具才能達到您幻想中的美味</span>
                        <div class="recipe_btn">來去購物</div>
                    </div>
                </div>
                <div class="box1 box_none" id="box4">
                    <img src="./pic/menber/m2.svg" alt="">
                    <div class="recipe_push">
                        <h2>您有一則編撰中的食譜</h2>
                        <span>地方的爸爸媽媽們需要好的食譜</span>
                        <span>是否繼續編輯您的食譜呢？</span>
                        <div class="recipe_btn" id="recipe_btnY">來去編輯</div>
                    </div>
                </div>
            </div>
            <div class="right_box">
                <h2>小方塊</h2>
                <div class="line"></div>
                <div class="other_box">
                    <div class="span_r">
                        <span>食譜</span>
                        <span class="grey">0</span>
                    </div>
                    <div class="span_r">
                        <span>追蹤</span>
                        <span class="grey">3</span>
                    </div>
                    <div class="span_r">
                        <span>粉絲</span>
                        <span class="grey">0</span>
                    </div>
                </div>
                <a href="https://icook.tw/users/1537435042942097">https://icook.tw/users/1537435042942097</a>
            </div>
        </div>
    </div>
    <!-- 會員設定燈箱 -->
    <div class="member_data" id="member_data">
        <div class="member_close" id="member_close">
            <div class="close_line"></div>
            <div class="close_line2"></div>
        </div>
        <h1>會員資料</h1>
        <form action="" id="member_data_form">
            <label for="name">姓名:
                <div class="input">
                    <input type="text" id="name" name="name" v-model='name'>
                    <span :class="namespanClass">{{member_names}}</span>
                </div>
            </label>
            <label for="member_id">身分證字號:
                <div class="input">
                    <input type="text" id="member_id" name="member_id" v-model='member_id'>
                    <span :class="idspanClass">{{member_ids}}</span>
                </div>
            </label>
            <label for="">性別:
                <div class="input">
                    <input type="radio" class="member_ball" name="sex" value="boy" v-model='sexboy' >男
                    <input type="radio" class="member_ball" name="sex" value="girl" v-model='sexgirl' >女
                    <span :class="sexspanClass">{{member_sex}}</span>
                </div>
            </label>
            <label for="birthday">生日:
                <div class="input">
                    <input type="date" id="birthday" name="birthday" v-model='birth'>
                    <span :class="birthspanClass" >{{member_birth}}</span>
                </div>
            </label>
            <label for="addres">地址:
                <div class="input">
                    <input type="text"id="addres" name="addres" v-model='addres'>
                    <span :class="addresspanClass" >{{member_addres}}</span>
                </div>
            </label>
            <label for="phone">手機:
                <div class="input">
                    <input type="text" id="phone" name="phone" v-model='cellphone'>
                    <span :class="cellphonespanClass">{{member_cellphone}}</span>
                </div>
            </label>
            <label for="email">電子信箱:
                <div class="input">
                    <input type="text" id="email" name="email" v-model='email'>
                    <span :class="emailspanClass">{{member_email}}</span>
                </div>
            </label>
            <button class="member_set_btn" id="member_set_btn" @click="alertopen">確認送出</button>
        </form>
    </div>
    <!-- 會員設定燈箱 -->

    <!-- 編輯食譜燈箱 -->
    <div class="recipe_write" id="recipe_write">
        <div class="recipew_close" id="recipew_close" @click='close'>
            <div class="close_line"></div>
            <div class="close_line2"></div>
        </div>
        <h1>食譜編輯</h1>
        <form action="" id="recipew_form">
            <label for="rw_title">文章標題
                <input type="text" id="rw_title" name="rw_title" v-model='vueRWTitle'>
                <span :class="rwSpan">{{vueTitle}}</span>
            </label>
            <label for="rw_content">內文
                <textarea name="" id="rw_textarea" cols="30" rows="10" v-model='vueContent' @dragover='dragOver' @drop='dropped'></textarea>
            </label>
            <label for="rw_step" class="rw_step" id="rw_step">步驟
                <span class="rw_plus" id="rw_plus" @click='ADDD'>Plus</span>
                <span class="rw_plus rw_minus" id="rw_minus" @click='Minus'>Minus</span>
                <!-- V-for -->
                <div v-for='(count,index) in vueCount' class="step" :id='"step"+index'>
                    <span class="step_span" :data-count="index">step {{index+1}}:</span>
                    <input type="text" class="rw_step_input" name="rw_step" :value='count'>
                </div>
                <!-- V-for -->
            </label>
            <div class="button">
                <button class="rw_btn" id="rw_btn" @click='check'>確認送出</button>
                <button v-if='vuehaveData' class="rw_btn" id="rw_btnX" @click='remove'>刪除</button>
            </div>
        </form>
    </div>
    <!-- 編輯食譜燈箱 -->

    <!-- footerpage -->
    <div class="footerpage"></div>
    <!-- footerpage -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
    <script src="./js/firebase.js"></script>
    <!-- firebase -->
    <!-- <script src="//cdn.ckeditor.com/4.5.5/standard/ckeditor.js"></script> -->
    <script src="./js/inject.js"></script>
    <script src="./js/hd_ft_menber.js"></script>
    <script src="./js/menber.js"></script>
</body>
</html>